li {
  text-align: left;
  &.completed {
    opacity: 0.2;
  }
  background: whitesmoke;
  padding: 1rem;
  h3 {
    margin: 0;
  }

  button {
    background: white;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
  }
}
